*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav,
header,
main {
    border: 1px solid black;
}

/* Grid Layout */

.container {
    display: grid;
    border: 1 solid pink;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: repeat(5 1fr);
}

.container * {
    background-color: pink;
}

.container nav {
    grid-row: span 6;
}

.container header {
    grid-row: span 2;
    grid-column: span 2;
}

.container main {
    grid-row: span 4;
    grid-column: span 2;
}