*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav,
header,
main {
    border: 1px solid black;
}

/* Grid Layout */

.container {
    display: grid;
    border: 1 solid pink;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(5 1fr);
}

.container * {
    background-color: pink;
}

.container nav {
    grid-column: 1;
    grid-row: span 6;
}

.container header {
    grid-row: span 1;
    grid-column: span 3;
}

.container main {
    grid-row: span 5;
    grid-column: span 3;
}

header{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 1fr);
}

header .search,
header  .profile {
    grid-column: 1 / -1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

}
header .search div:first-child {
    grid-column: 1 / 5;
}




/* Font and Text Styles */

nav{
    color: blue;
    font-size: 25px;
}

nav h2 {
    font-size: 35px;
    padding: 20px 0;
    margin-bottom: 10px;
}

nav div{
    padding: 5px;
    margin: 10px;
}

nav .space {
    padding: 20px 0px
}

nav div:last-child{
    padding-bottom: 100px;
}

